{% extends "layout.html" %}

{% block title 'Home' %}

{% block javascript %}
{{ parent() }}
<script src="{{ app.request.basepath }}/audiojs/audio.min.js"></script>
<script src="{{ app.request.basepath }}/js/lib/lodash.js"></script>
<script src="{{ app.request.basepath }}/js/lib/backbone.js"></script>
<script src="{{ app.request.basepath }}/js/app.js"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12 span">
        <audio autoplay></audio>
    </div>
</div>
<div class="row-fluid">
    <section class="span8 span">
        <section>
            {{ include('searchForm.twig') }}
            <a href="#uploadModal" role="button" class="btn btn-large" data-toggle="modal">Upload a song</a>
            {{ render(url('upload')) }}
        </section>
        <aside>
            {{ include('top.html.twig') }}    
        </aside>
    </section>
    <aside class="span4 span">
        <h1>Playlist</h1>
        {% if songsPlaylist is defined %}
        <ul id='playlist'>
            {% for item in songsPlaylist %}
            <li>{{ item.song.name }}</li>
            {% else %}
            <li>The Radio is empty! Please choose a song! Quick!</li>
            {% endfor %}
        </ul>
        {% endif %}
    </aside>
</div>


{% endblock %}
