<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Radio Hipster</title>
        <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ app.request.basepath }}/css/onBootstrap.css" rel="stylesheet" media="screen">
        
        <script src="{{ app.request.basepath }}/js/lib/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/js/lib/bootstrap.min.js"></script>
    </head>
    <body>
         <div class="container-fluid"> 

            {% if app.session.hasFlash('successUpload') %}
               <div class="alert alert-success fade in">
                   <button type="button" class="close" data-dismiss="alert">×</button>
                   <strong>Upload: </strong>
                   {{ app.session.flash('successUpload') | raw  }}
               </div>
            {% endif %}
            
            {% if app.session.hasFlash('successAdd') %}
               <div class="alert alert-success fade in">
                   <button type="button" class="close" data-dismiss="alert">×</button>
                   <strong>Add in radio playlist: </strong>
                   {{ app.session.flash('successAdd') | raw  }}
               </div>
            {% endif %}
            
            
             
            {% block content %}{% endblock %}
        </div>

        {% block javascript %}
            
        {% endblock %}
    </body>
</html>
