<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Radio Hipster</title>
        <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ app.request.basepath }}/css/onBootstrap.css" rel="stylesheet" media="screen">
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
         <div class="container-fluid"> 
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
