{% extends "layout.html" %}

{% block title 'Search Song' %}

{% block content %}


<form action="#" method="post">
    <fieldset>
        <legend>Search a song</legend>
        
        {{ form_row(form.search, { 'attr': { 'placeHolder': 'What do you listen to?' } }) }}

        
         <input type="submit" name="submit" class="btn" />


         {% if songs is defined %}
             <ul id='songs'>
                 {% for item in songs %}
                 <li>{{ item.name }} <a href="{{ path('insert', { id: item.id }) }}"><img src="../img/add.png" height="20" width="20" ></a></li>
                 {% else %}
                 <li>Sorry, there are no result for this search. Maybe can you upload a song?</li>
                 {% endfor %}
             </ul>
         {% endif %}

    </fieldset>
</form>
    

{% endblock %}
