<form class="form-search" id="formSearch">
    <fieldset>
        {{ form_widget(form.search, { 'attr': { 'placeHolder': 'What do you listen to?' , 'class' : 'search-query input-xlarge' }}) }}

        {{ form_rest(form) }}

         <button class="btn" id="formSearchBtn"><i class="icon-search"></i> Search</button>
    </fieldset>
    <div id="resultSearch"></div>
</form>

<script>
    $(document).ready(function(){
        $('#formSearchBtn').click(function() {
            var datas = $('#formSearch').serialize();
            
            console.log(datas);
            
            $.ajax({
                url: "{{ path("search") }}",
                type: "GET",
                data: datas,
                success: function(datas){
                    $('#resultSearch').html(datas);
                } ,
                error: function(msg){
                    alert("erreur : "+msg);
                }
            });
            return false;
        }); 
    });
</script>