{% if top_songs is defined %}
<h3 class="sub title">Top {{ top_songs.count }}</h3>
<ul class="top-songs">
    {% for song in top_songs %}
        <li>
            <span class="title">{{ song.name }}</span>
            by <span class="artist">{{ song.artist.name|default('Unknow Artist') }}</span>
            in <span class="album">{{ song.album.name |default('Unknow Album') }}</span>
        </li>
    {% endfor %}
</ul>
{% endif %}