{% if top_songs is defined %}
<h3 class="sub title">Top {{ top_songs.count }}</h3>
<ul class="top-songs">
    {% for song in top_songs %}
        <li>
            <strong>{{ song.name }}</strong>
            by {{ song.artist.name|default('Unknow Artist') }}
            in {{ song.album.name |default('Unknow Album') }}
        </li>
    {% endfor %}
</ul>
{% endif %}